#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: #abc1d1;
}

.main-chat {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    font-size: 14px;
    color: rgb(255, 255, 255, 0.67);
    background-color: #92a4b2;
    padding: 8px 15px;
    border-radius: 25px;
}
