.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 15px;
    animation: notificationAnimation 4s ease-in-out infinite;
}

.nav__notification2 {
    position: absolute;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 27px;
    bottom: 30px;
}

@keyframes appearBtnAnimation {
    from {
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.nav__btn {
    transform: translateY(60px);
    opacity: 0;
    animation: appearBtnAnimation 1.3s ease-in-out forwards;
}
