#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 20px;
}

#no-mobile span {
    width: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    border-radius: 70%;
    background-color: rgb(60, 29, 30);
    color: var(--yellow);
}

@media screen and (max-width: 645px) {
    #no-mobile {
        display: none;
    }
}
