.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 43%;
    margin-right: 20px;
}
.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 49%;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}
.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.4);
}

.user-component__box {
    font-size: 17px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__subtitle {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__box span {
    font-weight: 600;
    margin-top: 6px;
    margin-left: 6px;
    font-size: 10.5px;
    color: tomato;
    border: 1.8px solid tomato;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: block;
    text-align: center;
    opacity: 0.8;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}
